.is-full-screen {
    min-height: 100vh !important;
    min-height: calc(var(--vh, 1vh) * 100) !important;
}

#loading-window {
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    margin: auto;

    width: 100%;
    height: 100vh;
    overflow: hidden;

    background-color: var(--bg-color);

    display: none;
    z-index: 999;
}

.is-loading {
    display: flex !important;
}

.loader {
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #ffffff;
  background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before {
  width: 50%;
  height: 50%;
  background: #ffffff;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.loader:after {
  background: var(--bg-color);
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/**
Home Page Stylings
 */
#home {
    flex-direction: column !important;
    align-items: center;
    justify-content: center;

    max-width: 100% !important;
    overflow: hidden;
}

.module-list {
    text-align: center;
    padding: 0 20px;
}

.module-button {
    margin-bottom: 20px;
}

.transition-opacity {
    transition: opacity 0.5s ease-in-out;
}

#action-buttons {
    height: 64px;

    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: auto;
}

#question-window {
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    margin: auto;

    width: 100%;
    height: 100vh;
    overflow: hidden;

    background-color: var(--bg-color);

    transition: opacity 0.8s !important;

    z-index: 444;
}

#answer {
    flex-direction: column !important;
}

.question-footer {
    position: absolute;
    bottom: 20px;
    left: 0; right: 0;
    margin: auto;
}

.question-actions {
    position: fixed;
    bottom: 48px;
    left: 0; right: 0;
    margin: auto;
}

.red {
    background-color: #ff6961 !important;
    color: #ff6961 !important;
}
.green {
    background-color: #77dd77 !important;
    color: #77dd77 !important;
}
.yellow {
    background-color: #fdfd96 !important;
    color: #fdfd96 !important;
}

.statistics-row {
    display: flex;
    flex-direction: row !important;
    align-items: center;
    justify-content: center;
}

.statistics-row h4 {
    margin-right: 10px;
    font-weight: bolder;
    font-style: italic;
}