<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flotion</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script>
        // First we get the viewport height and we multiple it by 1% to get a value for a vh unit
        let vh = window.innerHeight * 0.01;
        // Then we set the value in the --vh custom property to the root of the document
        document.documentElement.style.setProperty('--vh', `${vh}px`);
    </script>

    <link rel="stylesheet" href="https://unpkg.com/chota@latest">
    <link rel="stylesheet" href="{{ url_for('static', filename='flotion.css') }}">
    <style>
        html, body.dark {
            --bg-color: #040404;
            --bg-secondary-color: #191919;
            --font-color: #f5f5f5;
            --color-grey: #ccc;
            --color-primary: #DC6E9F;
            --color-secondary: #DFD3FD !important;
            --color-darkGrey: #777;
        }
    </style>
</head>
<body class="dark">
<div id="loading-window" class="is-full-screen is-horizontal-align is-vertical-align is-loading">
    <div class="loader">Loading...</div>
</div>
<div class="is-full-screen is-horizontal-align is-vertical-align" id="home">
    <h1><em style="font-size: 48px !important;">Flotion.</em></h1>
    <br/>
    <div id="quiz-options" class="transition-opacity is-full-width is-horizontal-align is-vertical-align"
         style="flex-direction: column !important;">
        <h5 id="hint-text">Specify a Module</h5>
        <br/>
        <div id="module-list" class="module-list">
        </div>
    </div>
    <div style="height: 84px;"><span></span></div>
    <div class="is-full-width is-horizontal-align is-vertical-align transition-opacity" id="action-buttons">
        <a onclick="beginQuiz()" id="start-button" class="button primary">Skip</a>
    </div>
</div>
<script src="{{ url_for('static', filename='flotion.js') }}"></script>
<script>
    localStorage.clear();
    document.addEventListener("DOMContentLoaded", populateModules);
</script>
</body>
</html>