<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Statistics - Flotion</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script>
        // First we get the viewport height and we multiple it by 1% to get a value for a vh unit
        let vh = window.innerHeight * 0.01;
        // Then we set the value in the --vh custom property to the root of the document
        document.documentElement.style.setProperty('--vh', `${vh}px`);
    </script>

    <link rel="stylesheet" href="https://unpkg.com/chota@latest">
    <link rel="stylesheet" href="{{ url_for('static', filename='flotion.css') }}">
    <style>
        html, body.dark {
            --bg-color: #040404;
            --bg-secondary-color: #191919;
            --font-color: #f5f5f5;
            --color-grey: #ccc;
            --color-primary: #DC6E9F;
            --color-secondary: #DFD3FD !important;
            --color-darkGrey: #777;
        }
    </style>
</head>
<body class="dark">
<div id="loading-window" class="is-full-screen is-horizontal-align is-vertical-align is-loading">
    <div class="loader">Loading...</div>
</div>
<div class="is-full-screen is-full-width is-horizontal-align is-vertical-align" id="answer">
    <div class="statistics-row">
        <h4><span style="color: indianred">RED</span> CARDS: </h4>
        <h1 id="total_red">43/100</h1>
    </div>
    <div class="statistics-row">
        <h4><span style="color: yellow">YELLOW</span> CARDS: </h4>
        <h1 id="total_yellow">43/100</h1>
    </div>
    <div class="statistics-row">
        <h4><span style="color: forestgreen">GREEN</span> CARDS: </h4>
        <h1 id="total_green">43/100</h1>
    </div>
    <div class="statistics-row" style="margin-top: 20px;">
        <h4 style="margin-right: 30px">MODULE UNDERSTANDINGS: </h4>
        <h3 id="modules"></h3>
    </div>
</div>
<script src="{{ url_for('static', filename='statistics.js') }}"></script>
<script>
    document.addEventListener("DOMContentLoaded", loadStats);
</script>
</body>
</html>